<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    	<%= render 'layouts/messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :find_your_school_district %>
      <%= f.select :district_id, options_for_select(set_district, 
        selected: @user.district_id), {} %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    
      <%= f.submit(@user.new_record? ? 'Sign-Up' : 'Edit profile', class: "btn btn-success") %></br>
    </hr>

      <h4><strong>You will recieve a welcome email from: musiccatalogdev@gmail.com.</strong></h4>
    <% end %>
  </div>
</div>