<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    	<%= render 'layouts/messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      
      <%= f.label :find_your_school_district %>
      <%= district_list = all_districts.map { |district| [district.title, district.id]} %>
      <%= f.select :district_id, options_for_select(district_list,
        selected: @user.district_id), {} %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

<!--       <%= f.submit "Create my account", class: "btn btn-primary" %>
 -->      
      <%= f.submit(@user.new_record? ? 'Sign-Up' : 'Edit profile', class: "btn btn-success") %>
    <% end %>
  </div>
</div>