<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Users</h1>

<!-- <span class="btn">
   <%= link_to 'New User', new_user_path %>
</span> -->

<span class="new_btn">
   <%= link_to 'New User', new_user_path, class: "btn btn-danger" %>
</span>

<% @users.each do |user| %>
<div class="list">
  <span class="username"> <%= user.name %> </span>
  <div class="email"> <%= user.email %> </div>
    <div class="actions">
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
<!--       <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
 -->    </div>
  </div>
  <% end %>