

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_area :contact_person, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br>
    <%= f.text_area :contact_phone, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_area :contact_email, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Set up my school district", class: "btn btn-primary" %>
  </div>

