
<% if item == @current_item %>
	<div id="current_item" class="item">
<% else %>
	<div class="item">
<% end %>

	<div class="row">

		<div class="col-lg-6 well">
			<h4><%= link_to item.title, item_path(item) %></h4>
			<p>
				<span> Composer: <%= item.composer_name %> </span><br/>
				<span> Ensemble: <%= item.ensemble %> </span><br/>
				<span> Level: <%= item.level %> </span><br/>
				<span> Location: <%= item.location %> </span><br/>			
			</p>
			<p>
				<span class='quiet'><small> created: <%= time_ago_in_words(item.created_at) %> ago </small></span><br/>
				<span class='quiet'><small> updated: <%= time_ago_in_words(item.updated_at) %> ago</small></span>
			</p>
			<div class="actions">
				<%=link_to 'Edit', edit_item_path(item), remote: true %>
			</div>
		</div>
	</div>
	<hr/>

