<% if item == @current_item %>
	<div id="current_item" class="item">
<% else %>
	<div class="item">
<% end %>

	<div class="row">
		<div class="col-lg-6 well">
			<h4><%= link_to item.title, item_path(item) %></h4>
			<p>
				<span> Composer: <%= item.composer_name %> </span><br/>
				<span> Ensemble: <%= item.ensemble %> </span><br/>
				<span> Location: <%= item.location %> </span><br/>
				<span> District: <%= item.district.title %> </span><br/>			
			</p>
			<p>
				<span class='quiet'><small> created: <%= time_ago_in_words(item.created_at) %> ago </small></span><br/>
				<span class='quiet'><small> updated: <%= time_ago_in_words(item.updated_at) %> ago</small></span>
			</p>
			<div class="actions">
				<% if item.user == current_user || current_user.admin? %>
				<%=link_to 'Edit', edit_item_path(item), remote: true %>
				<% end %>
				<% if logged_in? and current_user.admin? %>
					<%= link_to "[Delete Item]", item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
				<% end %>
			</div>
		</div>
	</div>
	<hr/>
