<body class="container">

<%= link_to 'New Item', new_item_path, class: "btn btn-success", remote: true %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Music List</h1>

	<%= form_tag search_items_path, :method => :get do %>
	<p>
		<%= text_field_tag :query, params[:query] %> <%= submit_tag "Search!" %>
	</p>
	<% end %>


			<%= will_paginate %>
      
     	<div id="items">
        <%= render @items %>
      </div>
      
			<%= will_paginate %>




<div id="item-form" style="display:none;"></div>

<br>

<%= link_to 'New Item', new_item_path, class: "btn btn-success", remote: true %>

</body>



