<%= link_to 'New Item', new_item_path, remote: true %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Music List</h1>

<% if @items.present? %>
  <div id="items">
    <%= render @items %>
    <p><%= link_to "Search Again?",  search_path, class: "btn btn-danger"  %></p>
  </div>
<% else %>
  <p>Sorry, there are no music titles containing the term(s) <%= params[:search] %>.</p>
  <p><%= link_to "Search Again?",  search_path, class: "btn btn-danger"  %></p>
<% end %>

<div id="item-form" style="display:none;"></div>

<br>

<%= link_to 'New Item', new_item_path, remote: true %>





