<%= link_to 'New Item', new_item_path, remote: true %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Music List</h1>

  <div id="items">
    <%= render @items %>
  </div>

<div id="item-form" style="display:none;"></div>

<br>

<%= link_to 'New Item', new_item_path, remote: true %>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Composer fname</th>
      <th>Composer lname</th>
      <th>Arranger</th>
      <th>Publisher</th>
      <th>Ensemble</th>
      <th>Level</th>
      <th>Location</th>
      <th>Comments</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.composer_fname %></td>
        <td><%= item.composer_lname %></td>
        <td><%= item.arranger %></td>
        <td><%= item.publisher %></td>
        <td><%= item.ensemble %></td>
        <td><%= item.level %></td>
        <td><%= item.location %></td>
        <td><%= item.comments %></td>
        <td><%= item.user %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->


