<p id="notice"><%= notice %></p>

<h1>Search for Music</h1>

<%= form_tag(items_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for a music title" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<% if @items.present? %>
  <div id="items">
    <%= render @items %>
  </div>
<% else %>
  <p>There are no items containing the term(s) <%= params[:search] %>.</p>
<% end %>